{% extends "base.html" %}

{% block content %}
	<h3> Hello, you! Have a wonderful day. </h3>
	<a href="/blog"  target="_blank"> Blog</a>
	<br><br>
	<a href="/blog/newpost"  target="_blank">Make a Post here</a>
	<br><br>
	<a href="/rot13"  target="_blank">ROT 13</a>
	<br><br>
	<a href="/blog/signup"  target="_blank">Sign up</a>
	<br><br>
	<a href="/blog/login"  target="_blank">Login</a>
	<br><br>
	<a href="/blog/logout"  target="_blank">Logout</a>
	<br><br>
	<a href="/ascii"  target="_blank">ASCII art</a>
	<br><br>
	<h3> Thank you for visiting. </h3>

{% endblock %}